{% extends 'base.html' %}


{% block body  %}

<div class="container">
    <div style="position:fixed; left:1750px; top:28px;margin-top:18px"><h5 style="color: red;">welcome {{username}}</h5></div>
    <div class="row" >
        <div class="col-lg-12  col-xs-12">
            
            <h1 class="text" style="margin-top: 50px;">Add new Supplier Emails</h1>
            <form  action="/add_supplier" method="POST" enctype="multipart/form-data"  >  <!--post means to post to server-->

                
                
             
                <div class="add_new_supplier_name"> 
                    <input type="text"   id="add_new_supplier"  name="add_new_supplier" placeholder="write supplier name"  required autofocus value="{{the_new_supp_name}}">  
                    <button type="button" class="add_emails_btn"  id="add_emails_btn" name="Add_emails"><i class="fa-regular fa-square-plus"></i>Add Emails</button>
                </div>
                <div class="suppliers_emails">
                </div>
                <div>
                    {% with messages = get_flashed_messages() %}
                    {% if messages %}
                    {% for message in messages %}
                        <h2 style="color: rgb(236, 15, 89);font-size:15px;position: relative;left: 490px;top: 40px;">{{ message }}</h6>
                    {% endfor %}
                    {% endif %}
                    {% endwith %}

                    {% for row in range (0,new_emails_list|length)%}
                    <h2 class="h2_emails">
                        {{new_emails_list[row]}}
                    </h2>
                    {% endfor %}  
                </div>
                <div class="file" style="margin-top: 90px;margin-left: 480px" >
                    <input   type="submit"  class="btn btn-primary hover-me " name="Save" value="Save" style="margin-left: 20px" >
                </div>
                

            </form>
            <!--  edit supplier  -->

            <hr class="dashed">
            <h1 style="margin-left: 410px; color: aliceblue;"> Or Edit current supplier </h1>
            <form  action="/add_supplier" method="POST" enctype="multipart/form-data"  >  <!--post means to post to server-->
                

                    <div id="f1">  
                          <label for="Rname1" class="text7 " >Supplier Name:</label>
                            <div class="dropdown1">
                                <input list="suppliers2" name="suppliers1" id="suppliers1" placeholder="Search for supplier">
                                <datalist id="suppliers2">
                                    {% for s in supplier %}
                                        <option value="{{s}}">
                                    {% endfor %}
                                </datalist>
                            
                            </div>
                    </div>
             
                    <input style="color: rgb(85, 35, 204); border: none; width: 350px;margin-left: 425px;margin-top: 10px" type="text" value="{{supplier_to_edit}}">
                    <div style="color: red;font-size:15px;display:block">
                        {% with messages = get_flashed_messages() %}
                        {% if messages %}
                        {% for message in messages %}
                        <h6 style="color: red;font-size:15px;display:block">{{ message }}</h6>
                        {% endfor %}
                        {% endif %}
                        {% endwith %}

                        {% for message in emails1 %}
                        <input type="text" style="color: red;font-size:15px;display:block;width: 350px;border-style: double; margin-left: 425px;" value={{message}}>
                        
                        {% endfor %}

                        <input type="submit" value="Show" name="Show" id="Show" class="btn btn-primary ">
                        <input type="submit" value="Update" name="Update" id="Update" class="btn btn-primary "  >
                    </div>
                        
                  
                
                        
                        
                        
    
                      
            </form>
            
        </div>
    </div> 


</div>


{% endblock %}     

