{% extends 'base.html' %}


{% block body  %}

<div class="container">
    <div style="position:fixed; left:1750px; top:28px;margin-top:18px"><h5 style="color: red;">welcome {{username}}</h5></div>
    <div class="row" >
        <div class="col-lg-12  col-xs-12">
            
            <h1 class="text" style="margin-top: 50px;">Add/Edit Supplier Emails</h1>
            <form  action="/add_supplier" method="POST" enctype="multipart/form-data"  >  <!--post means to post to server-->

                
                
             
                <div class="add_new_supplier_name"> 
                    <input type="text"   id="add_new_supplier"  name="add_new_supplier" placeholder="write supplier name"  required autofocus value="{{the_new_supp_name}}">  
                    <button type="button" class="add_emails_btn"  id="add_emails_btn" name="Add_emails"><i class="fa-regular fa-square-plus"></i>Add Emails</button>
                </div>
                <div class="suppliers_emails">
                </div>
                <div>
                    {% with messages = get_flashed_messages() %}
                    {% if messages %}
                    {% for message in messages %}
                        <h2 style="color: rgb(236, 15, 89);font-size:15px;position: relative;left: 490px;top: 40px;">{{ message }}</h6>
                    {% endfor %}
                    {% endif %}
                    {% endwith %}

                    {% for row in range (0,new_emails_list|length)%}
                    <h2 class="h2_emails">
                        {{new_emails_list[row]}}
                    </h2>
                    {% endfor %}  
                </div>
                <div class="file" style="margin-top: 90px;margin-left: 480px" >
                    <input   type="submit"  class="btn btn-primary hover-me " name="Save" value="Save" style="margin-left: 20px" >
                </div>
                

            </form>
            <!-- Modal to edit supplier  -->


            <form action="#" method="POST" >
                <div style="margin-top: 40px; margin-left:80px">

                    
                    <button type="button" id="New_User1" class="btn btn-secondary" data-toggle="modal" data-target="#myModal1">Edit Supplier</button>
                </div>
                
                <div id="myModal1" class="modal" role="dialog" >
                  <div  class="modal-dialog modal-lg" >
                    <div class="modal-content">
                        <!-- ######### modal header -->
                      <div class="modal-header">
                        <span class="close1">&times;</span>
                        <h5>Edit supplier Name/Emails</h5>
                      </div>
                      <!--modal body -->
                    <div class="modal-body">
                        <div id="f1">  
                          <label for="Rname1" class="text7 " >Supplier Name:</label>
                            <div class="dropdown1">
                                <input list="suppliers2" name="suppliers1" id="suppliers1" placeholder="Search for supplier">
                                <datalist id="suppliers2">
                                    {% for s in supplier %}
                                        <option value="{{s}}">
                                    {% endfor %}
                                </datalist>
                            
                            </div>
                        </div> 
                        <h3>{{supplier_to_edit}}</h3>
                        
                    </div>
                      <!-- ##### modal footer  -->
                      <div class="modal-footer">
                        <div id="f4" >
                          
                          <input  type="submit"  class="btn btn-primary " value="Show" name="Show" id="Show1" >
                        </div>
                      </div>
                </div>

              </form>
        </div>
    </div> 


</div>


{% endblock %}     

