{% extends 'base.html' %}


{% block body  %}

<div class="container">
    <div style="position:fixed; left:1750px; top:28px;margin-top:18px"><h5 style="color: red;">welcome {{username}}</h5></div>
    <div class="row" >
        <div class="col-lg-12  col-xs-12">
            
            <h1 class="text" style="margin-top: 50px;">Add/Edit Supplier Emails</h1>
            <form  action="/add_supplier" method="POST" enctype="multipart/form-data"  >  <!--post means to post to server-->

                
                
             
                <div class="add_new_supplier_name"> 
                    <input type="text"   id="add_new_supplier"  name="add_new_supplier" placeholder="write supplier name"  required autofocus value="{{the_new_supp_name}}">  
                    <button type="button" class="add_emails_btn"  id="add_emails_btn" name="Add_emails"><i class="fa-regular fa-square-plus"></i>Add Emails</button>
                </div>
                <div class="suppliers_emails">
                </div>
                <div>
                    {% with messages = get_flashed_messages() %}
                    {% if messages %}
                    {% for message in messages %}
                        <h2 style="color: rgb(236, 15, 89);font-size:15px;position: relative;left: 490px;top: 40px;">{{ message }}</h6>
                    {% endfor %}
                    {% endif %}
                    {% endwith %}

                    {% for row in range (0,new_emails_list|length)%}
                    <h2 class="h2_emails">
                        {{new_emails_list[row]}}
                    </h2>
                    {% endfor %}  
                </div>
                <div class="file" style="margin-top: 120px;margin-left: 480px" >
                    <input   type="submit"  class="btn btn-primary hover-me " value="Save" style="margin-left: 20px" >
                </div>
                

            </form>
        </div>
    </div> 


</div>


{% endblock %}     

